*{
	font-family: proxima-nova, Helvetica, Arial, sans-serif;
	
}

body{
	margin: 0px;
	border: none;
}

h1{
	line-height: 105px;
	font-size: 76px;
	font-weight: lighter;
	font-family: "Lora", Georgia, Serif;
	color: #77a9ca;
}

p{
	color: #fff;
	line-height: 39px;
	font-size: 25px;
	text-align: center;
	font-family: "Arial", Helvetica, sans-serif;
	font-weight: lighter; 
}

#cabecalho{
	height: 50px;
	background-color: #151e2c;
	padding-top: 15px; 
	padding-left: 15px;    
	box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3);

}


#titulos{
	width: 100%;
	height: 450px;
	margin-top: -51px;
	background-color: #48515f;
	padding-bottom: 50px;
}

#divcentral{
	background-image: url(img/fundoclaro.jpg);
	background-color: no-repeat;
	width: auto;
	margin-left: 20%;
	border-top: 1px solid #ccc;
}

#pessoafisica{
	width: auto;
	height: 700px;
	float: left;
}

#pessoajuridica{
	width: 400px;
	height: 700px;
	float:	right;
}

footer{
	background-color: #f5f5f5;
	width: 100%;
	height: 70px;
	padding-top: 27px;
	clear: both;
}